<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cyton_gamma_1500" >
    
  <xacro:include filename="$(find rose20_description)/cyton_gamma_1500/new/urdf/base/base.urdf.xacro" />
  <xacro:include filename="$(find rose20_description)/cyton_gamma_1500/new/urdf/arm/arm.urdf.xacro" />
  <xacro:include filename="$(find rose20_description)/cyton_gamma_1500/new/urdf/gripper/gripper.urdf.xacro" />
  
  <xacro:cyton_gamma_base/>
  <xacro:cyton_gamma_arm/>
  <xacro:cyton_gamma_gripper/>

</robot>

