<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cyton_gamma" >
    
  <include filename="$(find cyton_gamma)/new/urdf/base/base.urdf.xacro" />
  <include filename="$(find cyton_gamma)/new/urdf/arm/arm.urdf.xacro" />
  <include filename="$(find cyton_gamma)/new/urdf/gripper/gripper.urdf.xacro" />
  
  <xacro:cyton_gamma_base/>
  <xacro:cyton_gamma_arm/>
  <xacro:cyton_gamma_gripper/>

</robot>

