<?xml version="1.0"?>
<model>
  <name>wheel_unit_60mm</name>
  <version>1.0</version>
  <sdf version='1.4'>wheel_unit_60mm.sdf</sdf>

  <author>
   <name>Okke Hendriks</name>
   <email>hendriks@robot-rose.nl</email>
  </author>

  <description>
    60mm diameter omni-wheel unit
  </description>
</model>
